.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-form-field {
  margin-top: -10px;
}
textarea {
  margin-top: -10px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

h2 {
  text-align: center;
  height: 20px;
}


